<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
<!--  rails automatically infer that its a list and do the rest-->
  <%= render @users %>

  <%# @users.each do |user| %>
<!--    rails will looks for a partiar _user.html.erb-->
    <%#= render user %>
  <%# end %>
</ul>

<%= will_paginate %>